<ng-container *ngIf="friend">


  <mat-card class="friend-card">
    <mat-card-title>{{friend.name}}</mat-card-title>
    <mat-card-content>
      <p>Weight: {{friend.weight}}</p>
      <p>Age: {{friend.age}}</p>

      <ng-container *ngIf="friend.friendsNames && friend.friendsNames.length > 0">

        <mat-chip-list aria-label="My Friends">
          <mat-chip *ngFor="let frnd of friend.friendsNames">{{frnd}}</mat-chip>
        </mat-chip-list>
      </ng-container>

    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button (click)="sendAction(friend, 'edit')">Edit</button>
      <button mat-button (click)="sendAction(friend, 'delete')">Delete</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</ng-container>
