<ng-container *ngIf="friend">


  <mat-card class="friend-card">
    <mat-card-title>{{friend.name}}</mat-card-title>
    <mat-card-content>
      <p>Weight: {{friend.weight}}</p>
      <p>Age: {{friend.age}}</p>

      <div class="friend-chips">

        <ng-container *ngIf="friend.friendsNames && friend.friendsNames.length > 0">

          <mat-chip-list aria-label="My Friends">
            <ng-container *ngFor="let frnd of friend.friendsNames; let i = index">

              <mat-chip *ngIf="i <= 2">{{frnd}}</mat-chip>
            </ng-container>

          </mat-chip-list>

          <ng-container *ngIf="friend.friendsNames.length > 3">
            <p>These are just some of my friends</p>
          </ng-container>

        </ng-container>
      </div>

    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button (click)="sendAction(friend, 'edit')">Edit</button>
      <button mat-button (click)="sendAction(friend, 'delete')">Delete</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</ng-container>
